* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

header {
  height: 15vh;
  background-color: rgb(31, 31, 31);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 42px;
}

.color-container {
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  border: 2px solid black;
}

.color-display,
.color-slider {
  box-sizing: border-box;
}

.color-display {
  width: 100%;
  height: 400px;
  margin: 10px;
  border: 1px solid black;
  background-color: rgb(1, 1, 1);
}

.color-slider {
  height: 260px;
  margin: 30px 10px;
  text-align: center;
}

.merah,
.hijau,
.biru {
  margin: 20px;
}

.merah p,
.hijau p,
.biru p {
  font-weight: bold;
}

.reset {
  background-color: rgb(23, 151, 255);
  color: white;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  border: 1px solid rgb(0, 47, 85);
  border-radius: 8px;
  cursor: pointer;
}

.reset p {
  padding: 5px;
}

main {
  width: 800px;
  margin: 120px auto;
}

main h2 {
  font-size: 38px;
}

main p {
  font-size: 24px;
  margin-top: 12px;
  font-weight: 500;
}
