* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  /* background: url("./assets/wave.svg") no-repeat; */
}

.container-wrapper {
  display: flex;
  align-items: center;
}

.left-container,
.right-container {
  flex: 1;
  height: 100vh;
  align-items: center;
}

.left-container {
  background-color: #a2d9ff;
}

.right-container,
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-container p {
  font-size: 48px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: left;
  width: 325px;
}

.right-container p:last-child {
  font-weight: 800;
  text-decoration: underline;
}

.display-wrapper {
  font-family: "Montserrat", sans-serif;
  background: #d1ebfd;
  border: 1px solid #e8e8e8;
  width: 500px;
  border-radius: 18px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 6px 6px 12px #c5c5c54b, -6px -6px 12px #a2d8ff31;
}

.display-wrapper .rectangle {
  width: 300px;
  height: 100px;
  margin: 0 auto;
  background: hsla(217, 100%, 50%, 1);
  background: linear-gradient(
    45deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
}

.slider-wrapper {
  padding: 15px 0 0 0;
}

.top-slider,
.bottom-slider {
  display: flex;
  justify-content: space-evenly;
}

.slider p {
  text-align: center;
  color: #5c5c5c;
  font-size: 14px;
}

.button-wrapper {
  margin: 10px 0 0 0;
}

.button-wrapper .btn-random {
  width: fit-content;
  margin: 0 auto;
  background-color: #6db7ec;
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #a2d9ff;
}
